{% unless grid_item_width %}
{% assign grid_item_width = 'large--one-quarter medium-down--one-half' %}
{% endunless %}

{% unless image_size %}
{%- assign image_size = '600x600' -%}
{% endunless %}

{% unless current_collection %}
{% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}
<div class="item grid-item product-item small--one-whole {{ grid_item_width }}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %} loader">
  {% comment %} BoostCommerce product item JSON data {% endcomment %}
  <!-- Whislist Button -->

    <div class="product-grid-image">
      <div class="product-grid-image--centered">
        {% if sold_out %}
        <div class="badge badge--sold-out"><span class="badge-label">{{ 'products.product.sold_out' | t }}</span></div>
        {% endif %}

      {%- if product.featured_media -%}
        {%- liquid
          assign featured_media_aspect_ratio = product.featured_media.aspect_ratio

          if product.featured_media.aspect_ratio == nil
            assign featured_media_aspect_ratio = 1
          endif
        -%}

          <a  href="{{ product.url | default: '#' }}" class="media media--transparent media--adapt media--hover-effect"
            style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
          >
            <img
              srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ product.featured_media | image_url: width: 1920 }} {{ product.featured_media.width }}w"
              src="{{ product.featured_media | image_url: width: 533 }}"
              sizes="(min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ product.featured_media.alt | escape }}"
              loading="lazy"
              class="motion-reduce"
              width="{{ product.featured_media.width }}"
              height="{{ product.featured_media.height }}"
            >

            {%- if product.media[1] != nil and show_secondary_image -%}
              <img
                srcset="{%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if product.media[1].width >= 533 -%}{{ product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if product.media[1].width >= 720 -%}{{ product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ product.media[1] | image_url: width: 1920 }} {{ product.media[1].width }}w"
                src="{{ product.media[1] | image_url: width: 533 }}"
                sizes="(min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ product.media[1].alt | escape }}"
                loading="lazy"
                class="motion-reduce"
              width="{{ product.media[1].width }}"
              height="{{ product.media[1].height }}"
              >
            {%- endif -%}
          </a>
      {%- else -%}
        {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
        <div>
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        {% endif %}
      </div>
    </div>
    {%if settings.quickview_ok %}
    <div class="quick-view-button">
      <a class="quick-view" data-handle="{{ product.handle }}" href="javascript:void(0);">
        מבט מהיר
      </a>
    </div>
    {%endif%}
    {% if on_sale and section.settings.product_show_compare_at_price %}
  		{% assign percent = product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' | append: '%' %}
		<div class="sale-percent">
          	<span class="">מבצע</span>
        	<span class="percent">{{ percent }}</span>
      	</div>
    {% endif %}
    <p>{{ product.title }}</p>

    <!-- Product Review Section -->
<!--       {%if section.settings.product_reviews_enable %}
    <div style="text-align: center">

      <div class="yotpo bottomLine" style="display:inline-block"
           data-product-id="{{ product.id }}">
      </div>

    </div>
      {%endif%} -->

    <div class="product-item--price">
      <span class="h3" align="{{ settings.align_price }}">
        {% if on_sale %}
        <span class="visually-hidden">{{ "products.general.sale_price" | t }}</span>
        {% else %}
        <span class="visually-hidden">{{ "products.general.regular_price" | t }}</span>
        {% endif %}
        {% include 'price' with product.price %}
        {% if on_sale and section.settings.product_show_compare_at_price %}
        <small>
          &nbsp;<s>
          <span class="visually-hidden">{{ "products.general.regular_price" | t }}</span>
          {% include 'price' with product.compare_at_price %}
          </s>
        </small>
        {% endif %}
      </span>

      {% if on_sale and section.settings.product_show_saved_amount %}
      <span class="sale-tag{% unless section.settings.show_compare_at_price %} medium--right{% endunless %}{% if section.settings.product_reviews_enable %} has-reviews{% endif %}">
        {% assign compare_price = product.compare_at_price %}
        {% assign product_price = product.price %}
        {% include 'price-sale' %}
      </span>
      {% endif %}
    </div>

    {% if section.settings.product_reviews_enable %}
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    {% endif %}

  
  
  {%if settings.wishlist_ok %}
  {% include 'wishlist-button' %}
  {%endif%}
  <input type="hidden" id="{{ product.handle }}" value="{{ product.selected_or_first_available_variant.id }}"/>
  
</div>





